/*
color swatches: #001524, #15616d, #ffecd1, #ff7d00, #78290f
*/

/*EP*/
html {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    position: relative;
    background-color: #001524;
    color: #FFECD1;
    font-size: 1.5em;
}

body {
    margin: 0;
    padding: 0;
    background-color: #001524;
    color: #FFECD1;
}


#pointing {
    translate: translateX();
    translate: translateY(10px);
    transform: rotate(20deg);
}
.introcard {
    position: relative;
    width:100%;
    /* margin-top: 1em; */
    text-align: center;
    background: linear-gradient(90deg, #15616D 55%, #FF7D00 33%);
    height: 45em;
    /* margin-bottom: 2em; */
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
}

.namecard {
    margin-left: -11em;
    display: flex;
    justify-content: space-evenly;
    height: 30em;
    margin-bottom: 2em;
}

.namecard-1 {
    display: block;
    position: relative;
    border: 0.115rem solid #fff;
    width: 20em;
    height: 25em;
    margin-left: 30em;
    margin-right: 0em;
}

.namecard-1 #avatarshapes {
    position: absolute;
    width: 40em;
    height: 34.5em;
    right: -9em;
    top: -1.5em;
}

.namecard-1 .johndoe {
    display: block;
    width: inherit;
    height: inherit;
    position: relative;
    right: 5%;
    top: 5%;
    background-color: #fff;
    background-size: cover;
    margin: auto;
   
    background-color: wheat;
    background-image: url("johndoe.jpg");

}

.namecard-2 {
    margin: auto 4em auto auto; 
    color: #15616D;
}
.namecard-2 h1 {
    font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 0.5em;
}
.namecard-2 h2 {
    text-transform: capitalize;
}
.namecard-2 #title {
    color: #FFECD1;
}

.namecard-2 #nameshapes {
    position: relative;
    width: 80em;
    height: 35em;
    left: 25em;
    bottom: 20em;
} 

.namecard-2 #smallinfo {
    color: #FFECD1;
    margin-bottom: 2em;
}
.namecard-2:has(h1,h2,p) {
    margin-top: 3em;
}
.belowcard {
    display: flex;
    justify-content: space-evenly;
}

.infosnip {
    /* center */
    margin: auto 0 auto 0;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4em;
    margin-left: 14em;
    margin-right: 0em;
    height: 10px;
    justify-content: space-around;
    color:#FF7D00;
    font-size:20px;
}

.pointshape {
    margin: 0;
}

#pointing {
    position: absolute;
    width: 40em;
    height: 34.5em;
    right: 6em;
    top: 18em;
}

.infosnip #infosnip-2, #infosnip-1 {
    width: 26.9em;
    text-align: left;
    font-size: 18px;
    margin-top:0;
    margin-bottom: 0;
    transform: translate(-21em,4em)
}
.infosnip #infosnip-1{
    margin-top: 0;
    margin-bottom: 1em;
}
.infosnip #infosnip-2 {
    margin-top: 0;
    margin-bottom: 0;
}
.resume {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 2em;
    margin: auto 15.5em auto auto;
    z-index: 1;

}

.resume #resume-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 9em;
    height: 4em;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #78290F;
    border: 2px solid currentColor;
    color: #78290F;

    border-radius: 1em 2em;
    overflow: hidden;
    
    transition: 0.3s ease;
}

#resume-button:hover {
    background-color: #15616D;
    color: #FFECD1;
    width: 11em;
    
}

@media (min-width: 701px) and (max-width: 1700px) {
    html, button {
        font-size: 0.94vw;
    }
}

