.aboutme {
    margin-left: 2em;
    border: 2px solid black;
}

.paragraph1 {
    display: block;
    margin: auto;
    
}

.curiosity {
    display: flex;
}

.curiosity #c1 {
    flex: 27%;
    position: relative;
    top: 1.5em;
}
.curiosity #c2 {
    flex: 60%;

}

#curious-shapes {
    width: 30em;
}

.paragraph1 .word-shapes1 {
    display: flex;
    flex-wrap: nowrap;

}
.paragraph1 h3 {
    font-size: 3em;
}

.paragraph1 #p1-1 {
    flex: 60%;
    flex-basis: 30em;
	flex-grow: 0;
	flex-shrink: 0;
    font-size: 2em;
    margin: auto;
}
.paragraph1 #p1-2 {
    flex: 50%;
    text-align: center;
    margin: auto;
}

#paragraphshape1 {
    width: 30em;
}

.paragraph2 {
    border: 2px solid black;
    margin-left: 50em;
}

.paragraph2 h3 {
    font-size: 3em;
}

.paragraph2 #p2-1 {
    font-size: 2em;
}



.paragraph3 {
    border: 2px solid black;
    margin-right: 50em;
}