.aboutme {
    margin-left: 2em;
    border: 2px solid black;
}

.paragraph1 {
    display: block;
    margin: auto;
    
}

.paragraph1 .word-shapes1 {
    display: flex;
    flex-wrap: nowrap;
}
.paragraph1 h3 {
    margin-left: 6em;
}

.paragraph1 #p1 {
    flex: 60%;
    border: 2px solid black;
    font-size: 2em;
    width: 30em;
    margin: auto;
}
.paragraph1 #p2 {
    flex: 50%;
    border: 2px solid black;
    text-align: center;
    margin: auto;
}

#paragraphshape1 {
    width: 15em;
}

.paragraph2 {
    border: 2px solid black;
    margin-left: 50em;
}
.paragraph3 {
    border: 2px solid black;
    margin-right: 50em;
}