
input[type=text], input[type=email], textarea {
    display: block;
    font: inherit;
    font-size: 1em;
    width: 30em;
    margin: auto;
    text-align: center;
}


form {
    font-size: 1.25em;
}

label {
    display: block;
    font-size: 1.25em;
    margin: 0.5rem 0;
    text-align: center;
}


textarea {
    resize: vertical;
}

.form-title {
    text-align: center;
    width: 10em;
    padding: 0 0 1em 0;
    margin: auto;
    color:#FF7D00;
    transition: 0.5s ease;
}


.form-container {
    border: 2px solid black;
    display: block;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 50em;
    color: #FFECD1;

    background-color: #15616D;
}


.button {
    display: block;
    margin: 1em auto auto auto;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 30px;

    transition: 0.3s ease;
}

.button:hover {
    background-color: rgba(47, 47, 194, 0.281);
}

.button:active {
    background-color: rgba(84, 84, 233, 0.733);
}