* {overflow:hidden;scroll-behavior:smooth;margin:0;padding:0;box-sizing:border-box;font-family: 'Familjen Grotesk', sans-serif;transition:0.25s all ease;list-style:none;text-decoration: none;}
:root {font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;line-height: 1.5;font-weight: 400;
--light-light-theme:#78c0e0;
--light-medium-theme:#5eafd9;
--light-dark-theme:#449dd1;
--dark-light-theme:#150578;
--dark-medium-theme:#120a65;
--dark-dark-theme:#0e0e52;
--middle-color:#192bc2;
--accent-color:#ffd700;
color-scheme: light dark;color: rgba(255, 255, 255, 0.87);background-color: #242424;
font-synthesis: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;}

body {display:flex;min-width:320px;min-height: 100vh;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

/* font */
@font-face {font-family: 'Familjen Grotesk';src: url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    font-weight: normal;
    font-style: normal;}
@font-face {font-family: 'Inter';src: url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    font-weight: normal;
    font-style: normal;}
@font-face {font-family: 'Lato';src: url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    font-weight: normal;
    font-style: normal;}
@font-face {font-family: 'PT Sans';src: url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    font-weight: normal;
    font-style: normal;}

/* Responsive mania */
@media screen and (max-width: 320px) {/* styles for screens smaller than 320px; */}
@media screen and (min-width: 321px) and (max-width: 480px) {/* styles for screens between 321px and 480px; */}
@media screen and (min-width: 481px) and (max-width: 768px) {/* styles for screens between 481px and 768px; */}
@media screen and (min-width: 769px) and (max-width: 1024px) {/* styles for screens between 769px and 1024px; */}
@media screen and (min-width: 1025px) and (max-width: 1280px) {/* styles for screens between 1025px and 1280px; */}
@media screen and (min-width: 1281px) and (max-width: 1440px) {/* styles for screens between 1281px and 1440px; */}
@media screen and (min-width: 1441px) and (max-width: 1680px) {/* styles for screens between 1441px and 1680px; */}
@media screen and (min-width: 1681px) and (max-width: 1920px) {/* styles for screens between 1681px and 1920px; */}
@media screen and (min-width: 1921px) and (max-width: 2560px) {/* styles for screens between 1921px and 2560px; */}
@media screen and (min-width: 2561px) {/* styles for screens larger than 2561px; */}

/* Dark mode */
@media(prefers-color-scheme:dark){}
/* Light mode */
@media(prefers-color-scheme:light){}
/* No preference */
@media(prefers-color-scheme:no-preference){}
/* No support */
@media not all and (prefers-color-scheme){}
/* No support */
@media not all and (prefers-color-scheme:dark){}
/* No support */
@media not all and (prefers-color-scheme:light){}
/* No support */
@media not all and (prefers-color-scheme:no-preference){}