html {
    margin-top: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    text-size-adjust: 100%;
    position: relative;
}

.introcard {
    text-align: center;
    background: linear-gradient(90deg, #0060fa 55%, #ffba42 33%);
    height: 50em;
}

.namecard {
    display: flex;
    justify-content: space-around;
    height: 30em;
}

.namecard-1 {
    display: block;
    position: relative;
    border: 0.115rem solid #fff;
    width: 20em;
    height: 25em;
    margin-left: 29em;
}

.namecard-1 #avatarshapes {
    position: absolute;
    width: 40em;
    height: 34.5em;
    right: -9em;
    top: -1.5em;
}

.namecard-1 .johndoe {
    display: block;
    width: inherit;
    height: inherit;
    position: relative;
    right: 5%;
    top: 5%;
    background-color: #fff;
    background-size: cover;
    margin: auto;
   
    background-color: wheat;
    background-image: url("johndoe.jpg");

}

.namecard-2 {
    margin: auto;
    color: #0060fa;

}

.namecard-2 #nameshapes {
    position: absolute;
    width: 80em;
    height: 35em;
    left: 25em;
    bottom: 24em;
} 

.namecard-2 #smallinfo {
    color: white;
}

.belowcard {
    display: flex;
}

.infosnip {
    display: block; 
    flex: 50%;
    position: relative;
    margin-top: 4em;
    margin-left: 29em;
    border: 2px solid black;
    height: 20em;
    justify-content: space-around;
    color:#ffba42;
}
.infosnip #infosnip-1 {
    width: 20em;
}

.infosnip #infosnip-2 {
    width: 20em;
}

.resume {
    flex: 90%;
    margin: auto;
    border: 2px solid black;
}

@media (min-width: 701px) and (max-width: 1700px) {
    html {
        font-size: 0.94vw;
    }
}
