.work-row-one {
    display: flex;
    justify-content: center;

}

.work-card-one {
    text-align: center;
    font-size: 15px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;

    background-color: #15616D;
    color:#FFECD1;
    max-width: 450px;
    min-width: 100px;
    width: 100%;

    max-height: 800px;
    min-height: 100px;
    height: 100%;

    padding-bottom: 1em;


}

.button {
    
    border: none;
    text-align: center;
    font-size: large;
    font-family: inherit;
    transition: 0.3s ease;
    background-color: #001524; 
    color: #FFECD1;
}

.button:hover {
    background-color: #78290F;
}

.button:active {
    background-color: rgba(84, 84, 233, 0.733);
}

#work-image-one {
    max-width: 450px;
    min-width: 100px;
    width: 100%;

    max-height: 250px;
    min-height: 100px;
    height: 100%;

    object-fit: cover;
    overflow: hidden;

}
