.projects {
    padding-top: 3em;
    padding-bottom: 3em;
}

.projects h2{
    color: #FFECD1;
    text-align: center;
    margin: auto;
    padding-bottom: 1em;
}

.work-row-one {
    display: flex;
    justify-content: center;

}

.work-card-one {
    text-align: center;
    font-size: 0.9375em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;

    background-color: #15616D;
    color:#FFECD1;
    max-width: 30.125em;
    min-width: 6.25em;
    width: 100%;
    border-radius: 2em;
    max-height: 53em;
    min-height: 6.25em;
    height: 53em;
}

.work-card-one p {
    padding: 3em 0 2em 0;
    text-align: center;
    margin: auto;
    width: 29em;
}

.button-w {
    
    border: none;
    text-align: center;
    margin: 1em auto auto auto;
    font-size: 1.5em;
    font-family: inherit;
    width: 2em;
    border-radius: 0.5em 1em;

    overflow: hidden;

    transition: 0.3s ease;
    background-color: #001524; 
    color: #001524;
    
}

.button-w:hover {
    background-color: #78290F;
    color: #FFECD1;
    width: 6em;
}

.button-w:active {
    background-color: #FF7D00;
}

#work-image-one {
    max-width: 30.125em;
    min-width: 6.25em;
    width: 100%;

    max-height: 17.625em;
    min-height: 6.25em;
    height: 100%;

    object-fit: cover;
    overflow: hidden;

}

/*EP*/