/*EP*/
.skills {
    padding: 5em 0 2em 0;
    margin: auto;
    width: 100%; 
    color: #FFECD1;
}

.skills-container {
    width: 70em;
    margin: auto;
}



/* progress bars */



/* .progressbar-html {
    background-color: #FF7D00;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width: 90%;
} */

.fullbar-css h4, .fullbar-html h4, .fullbar-j h4, .fullbar-js h4, .fullbar-msq h4, .fullbar-o h4, .fullbar-p h4{
    text-align: center;
    
    margin: auto;
    width: auto;
    font-size: 1.5em;
    border-radius: 15px;
    height: 40px;
}
.front-end h3, .development-languages h3, .database h3 {
    text-align: center;
    margin: auto auto 1em auto;
    width: auto;
    font-size: 2em;
    text-align: center;
    /* margin-bottom: 1em; */
}
/* .flex .fullbar-css,.flex .fullbar-html,.flex .fullbar-j,.flex .fullbar-js,.flex .fullbar-msq,.flex .fullbar-o,.flex .fullbar-p {
    width: 100%;
} */
.bar-container {
    margin:0;
    padding: 0;
    background-color: none;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 1em 0 1em 0; */
}
/* .progressbar-css {
    background-color: #FF7D00;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width: 95%;
}


.progressbar-js {
    background-color: #FF7D00;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width: 97%;
}



.progressbar-p {
    background-color: #FF7D00;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width: 80%;
}

.progressbar-j {
    background-color: #FF7D00;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width: 70%;
}


.progressbar-msq {
    background-color: #FF7D00;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width: 88%;
}

.progressbar-o {
    background-color: #FF7D00;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width: 50%;
} */